/**************** RESET ****************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul,
ul li {
  list-style-type: none;
  display: inline-block;
  font-size: 11px;
}

a {
  text-decoration: none;
  color: black;
  display: inline-block;
}
img {
  max-width: 100%;
}

/*************** UTILS ***************/
.debug,
.debug * {
  min-height: 50px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.092);
  border: 2px dashed red;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0px 0.5rem;
}

.container-s {
  max-width: 950px;
  margin: auto;
  padding: 0px 0.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  /*   margin: 0px -15px; */
}

[class*="col"] {
  padding: 0px 15px;
}

.col-1-2 {
  width: calc(100% / 2);
}

.col-1-3 {
  width: calc(100% / 3);
}

.col-1-4 {
  width: calc(100% / 4);
}
.col-1-5 {
  width: calc(100% / 5);
}

.col-30 {
  max-width: 30%;
}
.col-40 {
  max-width: 40%;
}

.col-60 {
  max-width: 60%;
}
.col-70 {
  max-width: 70%;
}
.col-100 {
  width: 100%;
}

.btn {
  color: white;
  font-size: 14px;
}

.btn-primary {
  padding: 10px 20px;
  background-color: #0062fe;
}
.btn-secondary {
  padding: 10px 20px;
  color: black;
  border: 1px solid black;
}

.btn-header {
  padding: 5px 10px;
  background-color: #0062fe;
}

h1 {
  font-size: 60px;
  font-weight: bolder;
  padding-bottom: 40px;
}
h2 {
  font-size: 32px;
}
p {
  font-size: 14px;
  padding-bottom: 40px;
}

/**************** HEADER ****************/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

header .header-nav-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

header ul li {
  padding: 0px 10px;
}

.header-logo {
  padding-right: 10px;
}

.header-login {
  padding-right: 10px;
}

/**************** MAIN ****************/

.hero-section {
  background-color: #b4d0e7;
  padding-top: 50px;
}
.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero-disclaimer {
  padding-top: 30px;
}

.fa-arrow-down {
  font-size: 50px;
  padding-bottom: 20px;
}

/* PLANS SECTION*/
.plans-section,
.partner-section,
.dropbox-business-section {
  padding: 50px 0px;
}

.invoice-buttons {
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 14px;
}

.plans-section .row {
  row-gap: 30px;
  margin: 0px -15px;
}
.plans-heading .invoice-buttons .round-btn {
  width: 13px;
  height: 13px;
  border: 1px solid grey;
  border-radius: 50%;
  display: inline-block;
}
.round-btn-active {
  border: 3px solid #0062fe !important;
}

.invoice-buttons span:nth-of-type(2) {
  padding-right: 30px;
}

.plans-section .plan-card {
  border: 1px solid rgb(211, 211, 211);
  height: 100%;
}

.plan-card .plan-type {
  font-size: 12px;
  text-align: center;
  border-bottom: 1px solid rgb(211, 211, 211);
  padding: 7px;
}

.card-content {
  padding: 25px 20px;
}

.card-content .plan-price .price {
  font-size: 12px;
  font-weight: bold;
  padding-top: 20px;
}

.card-content .plan-price .price-month {
  font-size: 12px;
  padding-top: 10px;
  color: grey;
}

.card-content .plan-list {
  padding: 40px 0px 50px 0px;
}

.card-content .plan-list ul li {
  display: block;
  padding: 8px 0px;
  font-size: 13px;
}

.card-content .plan-buy-btn span {
  padding: 30px 0px;
  display: inline-block;
  font-size: 12px;
}

.card-content .plan-buy-btn .try-link {
  text-decoration: underline;
  color: blue;
}

hr {
  width: 50px;
  color: grey;
  border: none;
  border-top: 1px solid grey;
  padding-bottom: 40px;
}
.card-content .plan-feauture-list p {
  padding-bottom: 30px;
  font-size: 12px;
  font-weight: bold;
}

.card-content .plan-feauture-list ul li {
  display: inline-block;
  padding-bottom: 20px;
  font-size: 13px;
}

.col-100 .row {
  justify-content: space-between;
}

.col-100 .plan-list {
  padding-bottom: 0px !important;
}

.partner-section .col-40 {
  padding-top: 40px;
}

.partner-section h3 {
  padding-bottom: 20px;
}

.dropbox-business-section h2 {
  padding-bottom: 70px;
}

.dropbox-business-section h3 {
  padding-bottom: 20px;
}
